*{
    box-sizing: border-box;
}
body{
    background:#ffffff  100% 100vh;
}
h1{
    margin:0px;
}
h2{
    margin:0px;
}
h5{
    margin:0px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
option{
    background: #4cb1ca;
}
.header{
    background: linear-gradient(to bottom, #4cb1ca 45px, #ffffff 45px 150px);
    height: 150px;
}
.select__countries{
    width:100%;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.language__wrap label{
    font-weight: 300;
    color:#ffffff;
}
.language__wrap select{
    outline: none;
    border: none;
    background: rgba(0, 0, 0,0);
    color:#ffffff;
}

.country__wrap label{
    font-weight: 300;
    color:#ffffff;
}
.country__wrap select{
    outline: none;
    border: none;
    background: rgba(0, 0, 0,0);
    color:#ffffff;
}

.login{
    width:100%;
    height: 45px;
}
.nav__login{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    height: 100%;
}
.nav__login li{
    margin-left: 30px;
}
.nav__login li a{
    color:#ffffff;
}
.nav__login li a:hover{
    color:#ffffff;
    border-bottom:3px solid #ffffff;
}
.logo{
    height: 105px;
    display:flex;
    align-items: center;
}
.menu{
    height: 105px;
    display:flex;
    align-items: center;
}
.menu__header{
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}
.menu__header li a{
    color: #656565;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.menu__header li a:hover{
    color: #4cb1ca;
    border-bottom:3px solid #4cb1ca;
}
.header__filter{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 335px;
    margin-left: 150px;
}
.form__src{
    height: 105px;
    display:flex;
    align-items: center;
}
.search{
    width: 175px;
    height: 30px;
}
.search__btn{
    position: relative;
    left: -33px;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 9999;
}
.form__src i{
    font-size: 15px;
    position: absolute;
    left: 320px;
}
.circle{
    width: 35px;
    height: 35px;
    background: #7db122;
    border-radius: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.circle i{
    color:#ffffff;
}
.cart span{
    font-weight: 700;
    font-size: 14px;
}
.banner{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
    width: 100%;
}
.slogan{
    height: 475px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:45px;
}
.slogan__first{
    height: 44px;
    width: 285px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan__first h1{
    font-size:30px;
    color:#ffffff;
    text-transform: uppercase;
}
.slogan__second{
    margin-top: 5px;
    height: 50px;
    width: 330px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan__second h2{
    font-size:27px;
    color:#ffffff;
    text-transform: uppercase;
}
.item__slogan{
    margin-top:50px;
}
.item__slogan h3{
    margin:0px;
    text-transform: uppercase;
    font-size: 24px;
}
.item{
    height: 320px;
    width: 235px;
    border: 1px solid #DCDCDC;
    margin-top:25px;
}
.glasses{
    display: flex;
    justify-content: center;
}

.glasses img{
    width: 215px;
    height: 227px;
    border:1px solid #DCDCDC;
}
.item__info{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
}
.item__text h5{
    font-size: 14px;
    font-weight: 600;
}
.item__text p{
    font-size: 14px;
}
#sale::before{
        content: "";
        position: absolute;
        display: inline;
        background:black;
        width: 32px;
        height: 1px;
        bottom: 51px;
}
.item__text p span{
    font-size: 18px;
    color: #7db122;
}
.item__cart{
    height: 50px;
    width: 50px;
} 
.item__cart i{
    font-size: 23px;
} 